@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}
/*Body style*/
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: brown;
  background-color: white;
}
/*Heading style*/
.heading {
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 50px;
   font-size: 40px;
   border-radius: 5;
   padding: 0 10px;
   background-color: red;
}
/*Score style*/
.score {
    margin-top: 20px;
    text-align: center;
}
.score-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
/*Reset button*/
.resetBtn {
    text-transform: uppercase;
    margin: 20px auto;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #d80909;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
}
.resetBtn:hover {
    background-color: red;
}